@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<form>
    Naam: <input type="text" name="name" />
    Email: <input type="text" name="email" />
    <input type="submit" value="opslaan" />
</form>