@using Theater.Database
@model List<Voorstelling>
@{
    ViewData["Title"] = "Home Page";
}

<div class="products">
    <h1 class="display-4">Welcome</h1>
    @foreach (var voorstelling in Model)
    {
    <a href="/voorstelling/@voorstelling.Id/@voorstelling.Naam" class="product">
        <h3>@voorstelling.Naam</h3>
        <p>@voorstelling.Beschrijving</p>
        <p>@voorstelling.Datum?.ToString("f")</p>
    </a>    
    }
   
   
</div>