@using Theater.Database
@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul> 
      @foreach(var product in Model)
        {   
          <li>@product.Naam - @product.Prijs - @product.Beschikbaarheid</li>
        }
    </ul>
</div>