@{
    ViewData["Title"] = "Home Page";
}

<h1>Titanic</h1>
<p>Deze indrukwekkende musical met iconische muziek, een live-orkest en een 25 man sterke cast nu in uw eigen theater. Reis mee en beleef een onvergetelijke avond uit! Mis het niet.

Droom mee met de derde klas passagiers over een nieuw leven in Amerika en zie hoe de eerste klas passagiers zich wentelen in grenzeloze luxe. Maak kennis met reder Ismay die geschiedenis wil schrijven maar kapitein Smith tot wanhoop drijft, en ontwerper Andrews die beseft dat hij een kapitale ontwerpfout maakte.

In deze grootse musicalproductie met live-orkest beleeft u de laatste dagen en uren van het meest legendarische schip ter wereld. De musical met muziek en liedteksten van Maury Yeston en een script van Peter Stone won vijf Tony Awards (waaronder de awards voor beste musical en beste muziek) en een Drama Desk Award.</p>
<img src="~/img/titanic.jpg" />