@using Theater.Database
@model Voorstelling
@{
    ViewData["Title"] = Model.Naam;
}

<div class="text=center">
    <h1 class="display-4">@Model.Naam</h1>
    <img src="@Model.Poster" width="250" height="350" />    
    <p>@Model.Beschrijving</p>
    <p>@Model.Datum</p>
</div>