<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <header>
        <br>
        <center> <a href="http://localhost:61434/"> <img class = "center" src="~/img/Ludere.png" width="200" height="50"/> </a>  </center>
        </br>
        </header>

        <div>  
            <nav>article</nav>
            <article>@RenderBody()</article>
            <aside>aside</aside>
        </div>


       <footer>
           <div class="nav">
               <center>
                   <a href="http://localhost:61434/"> <img src="~/img/25694.png" width="35" height="35"/> </a>
                   <a href=""> <img src="~/img/agenda.png" width="35" height="35"/> </a>
                   <a href=""> <img src="~/img/winkelwagen.png" width="35" height="35"/> </a>
                   <a href="http://localhost:61434/contact"> <img src="~/img/contact.png" width="35" height="35"/> </a>
                   <a href=""> <img src="~/img/search.png" width="35" height="35"/> </a>
               </center>
           </div>
       </footer>

    </body>

</html>
