<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <header>
        <center> <img src="~/img/Ludere.png" width="200" height="50"/> </center>
        </header>

        <div>  
            <nav>article</nav>
            <article>@RenderBody()</article>
            <aside>aside</aside>
        </div>


       <footer>
           <div class="nav">
                <a href="http://localhost:61434/"> <img src="~/img/25694.png" width="35" height="35"/> </a>
                <a href="http://localhost:61434/contact"> <img src="~/img/contact.png" width="35" height="35"/> </a>
           </div>
       </footer>

    </body>

</html>
