<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <header>header</header>
        
        <div>
            <nav>article</nav>
            <article>@RenderBody()</article>
            <aside>aside</aside>
        </div>

       
    </body>

</html>
