<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
        <header>
        <center> <img src="~/img/Ludere.png" width="200" height="50"/> </center>
        </header>

        <div>
            <nav>article</nav>
            <article>@RenderBody()</article>
            <aside>aside</aside>
        </div>


       <footer>
           <a href="http://localhost:61434/">Home</a>
           <a href="http://localhost:61434/contact">Contact</a>
       </footer>

    </body>

</html>
