<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/site.css" />
    </head>

    <body>
    <head>header</head>
    <div>
        <nav>article</nav>
        <article>article</article>
        <aside>aside</aside>
    </div>
       @RenderBody()       
    </body>

</html>
